@rendermode InteractiveServer

<div class="chat-list">
    <h3>Chat app</h3>
    <div>
        @foreach (var user in FilteredUsers)
        {
              <ChatListItem Name="@user.Name"
                          LastMessage="@user.LastMessage"
                          TimeAgo="@user.TimeAgo"
                          AvatarUrl="@user.AvatarUrl"
                          IsOnline="@user.IsOnline"
                          OnUserSelected="HandleUserSelected" />
        }
    </div>
</div> 