@rendermode InteractiveServer

<div class="chat-list">
    <h3>Czaty</h3>
    <div>
        @foreach (var user in users)
        {
            <ChatListItem Name="@user.Name" LastMessage="@user.LastMessage" TimeAgo="@user.TimeAgo" AvatarUrl="@user.AvatarUrl" IsOnline="@user.IsOnline" />
        }
        <ChatApp.Web.Components.Pages.Counter />
    </div>
</div> 